# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env*/
.venv/
.venv*/

# JetBrains IDE (PyCharm, IntelliJ)
.idea/

# VS Code settings
.vscode/

# Environment files
*.env
*.local

# Windows
Thumbs.db
